name: Deploy Astro a Nginx (Linux)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      # Configurar la llave SSH
      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      # Copiar archivos
      # CORRECCIÓN: Usamos 'C:/nginx/html' (Sin barra al inicio, comillas simples)
      - name: Deploy via SCP
        run: |
          # Ruta estándar de Linux: /var/www/html
          scp -P ${{ secrets.SSH_PORT }} -o StrictHostKeyChecking=no -r dist/* ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/html/gallerer
